<mat-card style="padding: 10px;">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm" *ngIf="!isLoading">

      <mat-form-field>
        <input
          matInput
          type="text"
          name="title"
          [ngModel]="post?.title"
          required
          minlength="3"
          placeholder="Post Title"
          #title="ngModel"
        /><mat-error *ngIf="title.invalid == true"
          >Please, fill this space</mat-error
        >
      </mat-form-field>
      <div>
        <button mat-stroked-button style="margin: 10px;" type="button" (click)="filePicker.click()">Pick Image</button>
        <input type="file" #filePicker>
      </div>
      <mat-form-field>
        <textarea
          matInput
          rows="6"
          name="content"
          [ngModel]="post?.content"
          required
          placeholder="Post Content"
          #title="ngModel"
          #content="ngModel"
        ></textarea>
        <mat-error *ngIf="content.invalid == true"
          >Please, fill this space</mat-error
        >
      </mat-form-field>


      <button mat-raised-button color="warn" type="submit" style="margin-bottom: 10px;">Save post</button>

  </form>
</mat-card>
